django>=1.9,<1.10
django-extensions
djangorestframework
markdown
django-filter
py-moneyed
-e git+https://github.com/django-money/django-money.git@master#egg=django-money
-e git+https://github.com/jeanmask/django-money-rates.git@master#egg=django-money-rates  # use this fork for django 1.9 compatibility
